<div class="modal modal-signin d-block bg-info py-5" tabindex="-1" role="dialog" id="modalSignin">
    <img class="logo" src="https://i.ibb.co/Qdcy14T/unnamed.png" alt="Logo da educação Adventista" />
    <div class="modal-dialog" role="document" >
        <div class="modal-content rounded-5 shadow justify-content-center">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0">Login</h2>
            </div>

            <div class="modal-body p-5 pt-0 ">
                <form (ngSubmit)="onSubmit()" #form="ngForm">
                    <div class="form-floating mb-3">
                        <input 
                            type="text" class="form-control rounded-4" 
                             id="floatingInput" 
                            placeholder="vinicius@cade" required
                            name="login"
                            [(ngModel)]="administrador.login"
                            >
                        <label>login</label>
                        <!-- <small 
                            *ngIf="hasError('login') && hasError('login')!['required']" 
                            text="O login precisa ser preenchido">
                        </small> -->
                    </div>
                    <div class="form-floating mb-3">
                        <input 
                            type="password" class="form-control rounded-4" 
                             id="password" 
                             name="password"
                                placeholder="Senha" required
                            [(ngModel)]="administrador.password"
                            >
                        <label>Senha</label>
                        <!-- <small 
                            *ngIf="hasError('password') && hasError('password')!['required']" 
                            text="A senha precisa ser preenchida">
                        </small> -->
                    </div>
                    <button [disabled]="form.form.invalid" class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="button" (click)="login()">Login</button>
                    <small class="text-muted">Acesso Administrador </small>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>
</div>