<!-- Button trigger modal -->
<!-- Search area -->
<!-- Modal -->

<div class="search d-flex flex-row justify-content-around">
  <div>    
    Novo Produto
    <button type="button" class="btn btn-primary rounded-circle" (click)="toggle()" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    <i class="fa fa-plus"></i>
  </button>
</div>
  <!-- Search area -->
  <div class="form-floating col-md-6">
    <input class="form-control" id="floatingInput" type="search" [(ngModel)]="searchValue"
      placeholder="por nome, sobrenome, código ou status" />
    <label for="floatingInput"><i class="fa fa-search fa-lg p-1"></i>Buscar</label>
  </div>
</div>
<!-- Modal -->
<div class="modal-overlay" [ngClass]="{ 'active': isShow }" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Produto</h5>
        <button type="button" class="btn-close" (click)="toggle()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-2" novalidate [formGroup]="form">
          <div class="form-floating-sm">
            <label for="floatingInput">Nome:</label>
            <input class="form-control-sm form-control" id="floatingInput" type="text" formControlName="nome" name="nome"
              placeholder="Digite o nome do cliente" required>
            <small class="text-danger" *ngIf="form.get('nome')!.value == null && form.get('nome')!.touched && form.get('nome')!.invalid" minlength="2" maxlength="4">
              Esse campo precisa ser preenchido 
            </small>
          </div>
          <div class="form-floating-sm-sm">
            <label for="floatingInput">Sobrenome:</label>
            <input class="form-control-sm form-control" id="floatingInput" type="text" formControlName="sobrenome" name="sobrenome"
              placeholder="Digite o sobrenome do cliente" required>
              <small class="text-danger" *ngIf="form.get('sobrenome')!.value == null && form.get('sobrenome')!.touched">Esse campo precisa ser preenchido</small>
          </div>
          <div class="form-floating-sm">
            <label for="floatingInput">Contato:</label>
            <input class="form-control-sm form-control" id="floatingInput" type="tel" formControlName="contato" name="contato"
            placeholder="(XX) XXXXX-XXXX" required>
            <small class="text-danger" *ngIf="form.get('contato')!.value == null && form.get('contato')!.touched" >Esse campo precisa ser preenchido</small>
          </div>
          <div class="form-floating-sm">
            <label for="floatingInput">Código do produto:</label>
            <input class="form-control-sm form-control" id="floatingInput" type="number" formControlName="codigo" name="codigo"
              placeholder="0000" required maxlength="4">
            <small class="text-danger" *ngIf="form.get('codigo')!.value == null && form.get('codigo')!.touched">Esse campo precisa ser preenchido</small>
          </div>
          <div class="form-floating-sm">
            <label for="floatingInput">Data:</label>
            <input class="form-control-sm form-control" id="floatingInput" type="date" formControlName="dataRecebimento"
              name="dataRecebimento" placeholder="00/00/0000" #dataRecebimento required >
            <small class="text-danger" *ngIf="form.get('dataRecebimento')!.value == null && form.get('dataRecebimento')!.touched">Esse campo precisa ser preenchido</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal" (click)="cancelar()">Limpar</button>
        <button type="button" class="btn btn-outline-primary btn-sm" [disabled]= "form.invalid" (click)="criaCliente()">Adicionar</button>
        <button type="button" class="btn btn-outline-primary btn-sm" [disabled]= "form.invalid" >Salvar e Adicionar outro </button>
      </div>
    </div>
  </div>
</div>

<div class="container-sm mb-5">
  <h3 class="text-primary">Produto</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="fist-thead bg-primary">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Código do Produto</th>
          <th>Contato</th>
          <th>Data Recebimento</th>
          <th>Status do Produto </th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="tabela-cliente">
        <ng-container *ngFor="let cliente of clientes | filtro: searchValue">
          <tr class="cliente">
            <td class="info-nome">{{cliente.nome}}</td>
            <td class="info-sobrenome">{{cliente.sobrenome}}</td>
            <td class="info-codigo"> #{{cliente.codigo}}</td>
            <td class="info-contato">{{cliente.contato}}</td>
            <td class="info-data-recebimento">{{cliente.dataRecebimento | date: 'dd/MM/yyyy'}}</td>
            <td class="info-status-produto">{{cliente.statusProduto}}</td>
            <td>
              <a class="btn"><i class="fa fa-edit"></i></a>
              <a class="btn"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>